name: library_scanner_domain
description: The domain layer for the library scanner app.
version: 1.2.3
# repository: https://github.com/my_org/my_repo
publish_to: none

environment:
  sdk: ^3.10.0

# Add regular dependencies here.
dependencies:
  path: ^1.9.1
  dio: ^5.4.0
  equatable: ^2.0.7
  fpdart: ^1.2.0
  http: ^1.2.1
  riverpod: ^3.0.0
  yaml: ^3.1.2
  yaml_writer: ^2.1.0
  uuid: ^4.5.2
  id_registry: ^1.0.1
  sembast: ^3.8.5+2
  id_logging:
    git: https://github.com/staylorx/id_logging.git
  slugify: ^2.0.0

dev_dependencies:
  lints: ^6.0.0
  test: ^1.25.6
  husky: ^0.1.7
  mocktail: ^1.0.4
  matcher: ^0.12.18
  benchmark_harness: ^2.3.0
