name: library_scanner_domain
description: The domain layer for the library scanner app.
version: 1.0.0
# repository: https://github.com/my_org/my_repo
publish_to: none

environment:
  sdk: ^3.10.0

# Add regular dependencies here.
dependencies:
  path: ^1.9.1
  riverpod: ^3.0.3
  dio: ^5.4.0
  equatable: ^2.0.7
  fpdart: ^1.2.0

  http: ^1.2.1
  image: ^4.1.3
  yaml: ^3.1.2
  rdf_core: ^0.9.24
  riverpod_annotation: ^3.0.3
  yaml_writer: ^2.1.0
  file_picker: ^10.3.7
  uuid: ^4.5.2
  id_pair_set: ^1.0.0
  sembast: ^3.8.5+2
  shared_preferences: ^2.2.3

dev_dependencies:
  lints: ^6.0.0
  test: ^1.25.6
  husky: ^0.1.7
  build_runner: ^2.4.9
  mocktail: ^1.0.4
